@charset "UTF-87";

/* Paleta de cores */
/* #1E3C40 #2E5955 #3D736D #5E8C88 #5E8C88 */

* {
    font-family: sans-serif
}

body {
    color: whitesmoke;
    background-color: #050a0b;
}

main {
    position: relative;
    text-shadow: 1px 1px 2px #000000;
}

.fundo {
    background-image: url(img/tsfundo01-1024-baixa.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

main h1, main h2 {
    text-align: center; 
    margin: 5px;
}

main h1 {
    padding-top: 50px;
    font-size: 5rem;
}

nav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-list li {
    display: inline;
}

.nav-list li a {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: whitesmoke;
}

.nav-list li a:hover {
    background-color: #1e3c4032;
    color: #9BBFBC;
    text-shadow: 1px 1px 2px #305a55;
}

section {
    margin: auto;
    background-color: rgb(255, 251, 247);
    color: #254541;
    border-radius: 10px;
    max-width: 80%;
    color: rgb(45, 45, 45);
    padding: 20px;
    margin-bottom: 5px;
}

section h1 {
    font-size: 2rem;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: italic;
}

aside {
    margin: auto;
    margin-bottom: 35px;
    max-width: 80%;    
}

#creditos {
    color: whitesmoke;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    text-shadow: 1px 1px 2px #000000;
}

@media (max-width: 766px) {
    .fundo {
        background-attachment: scroll;
        background-size: auto 100%;
    }    
}
